In [245]:
import pandas as pd
import re

In [74]:
df_weather=pd.read_excel("./58752.14.09.2023.22.02.2024.1.0.0.cn.utf8.00000000.xls",skiprows=6)
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,3.8,5.4,2,6.0,NaN,NaN,NaN,NaN
1,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,2.4,5.8,2,12.0,NaN,NaN,NaN,NaN
2,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,NaN,6.0,...,NaN,NaN,1.5,6.6,3,12.0,NaN,NaN,NaN,NaN
3,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,NaN,6.0,...,NaN,NaN,3.9,7.4,4,12.0,NaN,NaN,NaN,NaN
4,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,NaN,6.0,...,NaN,NaN,8.0,8.2,5,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,NaN,...,NaN,NaN,19.0,23.3,无降水,12.0,NaN,NaN,NaN,NaN
1290,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,NaN,5.0,...,NaN,NaN,18.0,22.5,无降水,6.0,NaN,NaN,NaN,NaN
1291,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,NaN,4.0,...,NaN,NaN,4.9,24.4,无降水,12.0,NaN,NaN,NaN,NaN
1292,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,NaN,6.0,...,NaN,NaN,2.6,23.5,无降水,12.0,NaN,NaN,NaN,NaN
1293,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,NaN,7.0,...,NaN,NaN,8.0,23.4,无降水,12.0,NaN,NaN,NaN,NaN

In [75]:
df_weather=df_weather.iloc[::-1].reset_index(drop=True) #逆序
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,NaN,7.0,...,NaN,NaN,8.0,23.4,无降水,12.0,NaN,NaN,NaN,NaN
1,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,NaN,6.0,...,NaN,NaN,2.6,23.5,无降水,12.0,NaN,NaN,NaN,NaN
2,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,NaN,4.0,...,NaN,NaN,4.9,24.4,无降水,12.0,NaN,NaN,NaN,NaN
3,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,NaN,5.0,...,NaN,NaN,18.0,22.5,无降水,6.0,NaN,NaN,NaN,NaN
4,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,NaN,...,NaN,NaN,19.0,23.3,无降水,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,NaN,6.0,...,NaN,NaN,8.0,8.2,5,12.0,NaN,NaN,NaN,NaN
1290,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,NaN,6.0,...,NaN,NaN,3.9,7.4,4,12.0,NaN,NaN,NaN,NaN
1291,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,NaN,6.0,...,NaN,NaN,1.5,6.6,3,12.0,NaN,NaN,NaN,NaN
1292,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,2.4,5.8,2,12.0,NaN,NaN,NaN,NaN
1293,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,3.8,5.4,2,6.0,NaN,NaN,NaN,NaN

In [76]:
df_pv=pd.read_csv("./pv_history.csv",sep=";")
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0
...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8

In [77]:
df_pv.dtypes

id                   int64
device_id            int64
gather_time         object
active_power       float64
direct_power       float64
charge_capacity    float64
dtype: object

In [78]:
df_pv['date_time'] = pd.to_datetime(df_pv['gather_time']).dt.floor('min')
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1,2023-09-14 06:40:00
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2,2023-09-14 06:40:00
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0,2023-09-14 06:40:00
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8,2023-09-14 06:50:00
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0,2023-09-14 06:50:00
...,...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7,2024-02-22 16:05:00
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0,2024-02-22 16:05:00
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0,2024-02-22 16:05:00
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0,2024-02-22 16:05:00
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8,2024-02-22 16:05:00

In [79]:
def adjust_minutes(dt):
    if dt.minute < 10:
        return dt.replace(minute=0)
    else:
        return dt

df_pv['date_time'] = df_pv['date_time'].apply(adjust_minutes)
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
0,19000,8,2023-09-14 06:40:15,3.11,3.37,1.1,2023-09-14 06:40:00
1,19001,9,2023-09-14 06:40:15,3.19,3.56,1.2,2023-09-14 06:40:00
2,19002,10,2023-09-14 06:40:15,2.81,3.27,1.0,2023-09-14 06:40:00
3,19003,6,2023-09-14 06:50:15,7.53,7.77,1.8,2023-09-14 06:50:00
4,19004,7,2023-09-14 06:50:15,7.67,7.89,2.0,2023-09-14 06:50:00
...,...,...,...,...,...,...,...
31278,50278,6,2024-02-22 16:05:00,2.72,3.03,66.7,2024-02-22 16:00:00
31279,50279,7,2024-02-22 16:05:00,3.21,3.41,67.0,2024-02-22 16:00:00
31280,50280,8,2024-02-22 16:05:00,3.27,3.55,66.0,2024-02-22 16:00:00
31281,50281,9,2024-02-22 16:05:00,2.86,3.26,70.0,2024-02-22 16:00:00
31282,50282,10,2024-02-22 16:05:00,2.74,3.02,67.8,2024-02-22 16:00:00

In [80]:
df_pv.dtypes

id                          int64
device_id                   int64
gather_time                object
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
dtype: object

In [81]:
specific_times = [pd.Timestamp('today').replace(hour=h, minute=0, second=0, microsecond=0).time() for h in [2, 5, 8, 11, 14, 17, 20, 23]]
df_pv = df_pv[df_pv['date_time'].dt.time.isin(specific_times)]
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00
...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00

In [82]:
device_counts = df_pv['device_id'].value_counts()
device_counts

device_id
6     798
7     798
8     798
9     798
10    798
Name: count, dtype: int64

In [83]:
df_pv6 = df_pv.loc[df_pv['device_id'] == 6]
df_pv6

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00
128,19128,6,2023-09-14 11:00:15,65.24,66.29,195.2,2023-09-14 11:00:00
218,19218,6,2023-09-14 14:00:15,77.74,79.08,444.6,2023-09-14 14:00:00
308,19308,6,2023-09-14 17:00:15,11.43,11.73,565.7,2023-09-14 17:00:00
398,19398,6,2023-09-14 20:00:15,0.00,0.00,568.1,2023-09-14 20:00:00
...,...,...,...,...,...,...,...
31208,50208,6,2024-02-22 02:05:00,0.00,0.00,0.0,2024-02-22 02:00:00
31223,50223,6,2024-02-22 05:05:00,0.00,0.00,0.0,2024-02-22 05:00:00
31238,50238,6,2024-02-22 08:05:00,0.93,1.35,0.6,2024-02-22 08:00:00
31253,50253,6,2024-02-22 11:05:00,4.75,5.07,25.6,2024-02-22 11:00:00
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00

In [84]:
df_pv6.loc[:, 'difference'] = df_pv6['date_time'].diff()
df_pv6

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_91479/350848355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pv6.loc[:, 'difference'] = df_pv6['date_time'].diff()

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
128,19128,6,2023-09-14 11:00:15,65.24,66.29,195.2,2023-09-14 11:00:00,0 days 03:00:00
218,19218,6,2023-09-14 14:00:15,77.74,79.08,444.6,2023-09-14 14:00:00,0 days 03:00:00
308,19308,6,2023-09-14 17:00:15,11.43,11.73,565.7,2023-09-14 17:00:00,0 days 03:00:00
398,19398,6,2023-09-14 20:00:15,0.00,0.00,568.1,2023-09-14 20:00:00,0 days 03:00:00
...,...,...,...,...,...,...,...,...
31208,50208,6,2024-02-22 02:05:00,0.00,0.00,0.0,2024-02-22 02:00:00,0 days 03:00:00
31223,50223,6,2024-02-22 05:05:00,0.00,0.00,0.0,2024-02-22 05:00:00,0 days 03:00:00
31238,50238,6,2024-02-22 08:05:00,0.93,1.35,0.6,2024-02-22 08:00:00,0 days 03:00:00
31253,50253,6,2024-02-22 11:05:00,4.75,5.07,25.6,2024-02-22 11:00:00,0 days 03:00:00
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00

In [85]:
df_pv6.dtypes

id                           int64
device_id                    int64
gather_time                 object
active_power               float64
direct_power               float64
charge_capacity            float64
date_time           datetime64[ns]
difference         timedelta64[ns]
dtype: object

In [86]:
df_pv6[df_pv6['difference'] != pd.Timedelta('0 days 03:00:00')]

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
988,19988,6,2023-09-15 17:04:40,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
993,19993,6,2023-09-15 17:04:50,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
998,19998,6,2023-09-15 17:05:00,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1003,20003,6,2023-09-15 17:05:10,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1008,20008,6,2023-09-15 17:05:20,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1013,20013,6,2023-09-15 17:05:30,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1018,20018,6,2023-09-15 17:05:40,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1023,20023,6,2023-09-15 17:05:50,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1028,20028,6,2023-09-15 17:06:01,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1033,20033,6,2023-09-15 17:06:10,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1038,20038,6,2023-09-15 17:06:20,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1043,20043,6,2023-09-15 17:06:30,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1048,20048,6,2023-09-15 17:06:40,7.90,8.22,440.4,2023-09-15 17:00:00,0 days 00:00:00
1053,20053,6,2023-09-15 17:06:50,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1058,20058,6,2023-09-15 17:07:01,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1063,20063,6,2023-09-15 17:07:10,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1068,20068,6,2023-09-15 17:07:20,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1073,20073,6,2023-09-15 17:07:31,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1078,20078,6,2023-09-15 17:07:40,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1083,20083,6,2023-09-15 17:07:50,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1088,20088,6,2023-09-15 17:08:00,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1093,20093,6,2023-09-15 17:08:10,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1098,20098,6,2023-09-15 17:08:20,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1103,20103,6,2023-09-15 17:08:31,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1108,20108,6,2023-09-15 17:08:40,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1113,20113,6,2023-09-15 17:08:50,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1118,20118,6,2023-09-15 17:09:01,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1123,20123,6,2023-09-15 17:09:10,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1128,20128,6,2023-09-15 17:09:20,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1133,20133,6,2023-09-15 17:09:30,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1138,20138,6,2023-09-15 17:09:40,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
1143,20143,6,2023-09-15 17:09:50,8.23,8.53,440.8,2023-09-15 17:00:00,0 days 00:00:00
17803,36803,6,2023-12-11 17:00:12,1.04,1.30,367.7,2023-12-11 17:00:00,65 days 09:00:00
24643,43643,6,2023-12-29 02:05:00,0.00,0.00,0.0,2023-12-29 02:00:00,0 days 06:00:00
24658,43658,6,2023-12-29 08:05:00,12.08,12.50,5.6,2023-12-29 08:00:00,0 days 06:00:00
24678,43678,6,2023-12-29 14:05:00,48.41,49.02,296.6,2023-12-29 14:00:00,0 days 06:00:00

In [87]:
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00
...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00

In [88]:
expected_sequence = [6, 7, 8, 9, 10]
pattern_index = pd.Series(range(len(df_pv))).mod(len(expected_sequence))
matches_sequence = (df_pv['device_id'].reset_index(drop=True).values == pd.Series(expected_sequence)[pattern_index].values).all()

matches_sequence

True

In [89]:
df_pv['difference'] = df_pv['date_time'] - df_pv['date_time'].shift(5)
df_pv

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_91479/3089230598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pv['difference'] = df_pv['date_time'] - df_pv['date_time'].shift(5)

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [90]:
df_pv[df_pv['difference'] != pd.Timedelta('0 days 03:00:00')]

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
24678,43678,6,2023-12-29 14:05:00,48.41,49.02,296.6,2023-12-29 14:00:00,0 days 06:00:00
24679,43679,7,2023-12-29 14:05:00,48.76,49.37,299.5,2023-12-29 14:00:00,0 days 06:00:00
24680,43680,8,2023-12-29 14:05:00,44.19,44.86,300.1,2023-12-29 14:00:00,0 days 06:00:00
24681,43681,9,2023-12-29 14:05:00,56.75,57.58,364.4,2023-12-29 14:00:00,0 days 06:00:00
24682,43682,10,2023-12-29 14:05:00,44.70,45.27,256.3,2023-12-29 14:00:00,0 days 06:00:00

In [91]:
df_pv = df_pv[df_pv['difference'] != pd.Timedelta(days=0)]
df_pv

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
38,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
39,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
40,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
41,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
42,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
31268,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
31269,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
31270,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
31271,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
31272,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [144]:
df_pv_copy=df_pv
df_pv_copy.reset_index(drop=True, inplace=True)
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3825,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3826,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3827,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3828,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3829,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [145]:
index_of_interest =df_pv_copy.index[df_pv_copy['id'] == 43643].tolist()[0]
start_index = max(0, index_of_interest - 5)
rows_to_copy = df_pv_copy.iloc[start_index:index_of_interest]
new_datetime = df_pv_copy.loc[df_pv_copy['id'] == 43643, 'date_time'].iloc[0] - pd.Timedelta(hours=3)

new_rows = []
for i, device_id in enumerate(range(6, 11), start=1):
    charge_capacity = rows_to_copy.iloc[(i-1) % len(rows_to_copy)]['charge_capacity']
    new_rows.append({'id': -1, 'device_id': device_id, 'charge_capacity': charge_capacity, 'active_power':0, 
                     'direct_power':0, 'date_time': new_datetime, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)

df_before = df_pv_copy.iloc[:index_of_interest]
df_after = df_pv_copy.iloc[index_of_interest:]

df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)
df_updated.to_csv('df_updated.csv')

In [146]:
df_pv_copy=df_updated

In [147]:
index_of_interest =df_pv_copy.index[df_pv_copy['id'] == 43658].tolist()[0]

start_index = max(0, index_of_interest - 5)
rows_to_copy = df_pv_copy.iloc[start_index:index_of_interest]
new_datetime = df_pv_copy.loc[df_pv_copy['id'] == 43658, 'date_time'].iloc[0] - pd.Timedelta(hours=3)

new_rows = []
for i, device_id in enumerate(range(6, 11), start=1):
    charge_capacity = rows_to_copy.iloc[(i-1) % len(rows_to_copy)]['charge_capacity']
    new_rows.append({'id': -1, 'device_id': device_id, 'charge_capacity': charge_capacity, 'active_power':0, 
                     'direct_power':0, 'date_time': new_datetime, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)

df_before = df_pv_copy.iloc[:index_of_interest]
df_after = df_pv_copy.iloc[index_of_interest:]

df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)
df_updated.to_csv('df_updated2.csv')

In [148]:
df_pv_copy=df_updated

In [149]:
df_pv2=pd.read_csv("./test.csv",sep=",")
df_pv2['date_time'] = pd.to_datetime(df_pv2['date_time']).dt.floor('min')
df_pv2['date_time'] = df_pv2['date_time'].apply(adjust_minutes)
df_pv2.dtypes

id                          int64
device_id                   int64
gather_time                object
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
dtype: object

In [150]:
df_pv2.to_csv('df_pv2.csv')

In [151]:
target_index = df_pv2.index[df_pv2['id'] == 43668].tolist()[0]
new_rows = []

for i in range(5):
    mean_power1 = round((df_pv2.iloc[target_index + i - 5]['active_power'] + df_pv2.iloc[target_index + i]['active_power']) / 2,2)
    mean_power2 = round((df_pv2.iloc[target_index + i - 5]['direct_power'] + df_pv2.iloc[target_index + i]['direct_power']) / 2,2)
    mean_date = df_pv2.iloc[[target_index + i - 5, target_index + i]]['date_time'].mean()
    mean_charge_capacity=round((df_pv2.iloc[target_index + i - 5]['charge_capacity'] + df_pv2.iloc[target_index + i]['charge_capacity']) / 2,2)
    
    new_rows.append({'id': -1, 'device_id':i+6, 'active_power': mean_power1, 'direct_power':mean_power2, 'date_time': mean_date, 
                     'charge_capacity': mean_charge_capacity, 'difference':pd.Timedelta('0 days 03:00:00')})

new_rows_df = pd.DataFrame(new_rows)
new_rows_df

,id,device_id,active_power,direct_power,date_time,charge_capacity,difference
0,-1,6,56.10,56.84,2023-12-29 11:00:00,121.2,0 days 03:00:00
1,-1,7,54.66,55.37,2023-12-29 11:00:00,123.6,0 days 03:00:00
2,-1,8,57.62,58.43,2023-12-29 11:00:00,126.1,0 days 03:00:00
3,-1,9,60.50,61.30,2023-12-29 11:00:00,153.5,0 days 03:00:00
4,-1,10,46.70,47.30,2023-12-29 11:00:00,101.9,0 days 03:00:00

In [152]:
target_index = df_pv_copy.index[df_pv_copy['id'] == 43678].tolist()[0]

df_before = df_pv_copy.iloc[:target_index]
df_after = df_pv_copy.iloc[target_index:] 
df_updated = pd.concat([df_before, new_rows_df, df_after]).reset_index(drop=True)
df_updated

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [153]:
df_updated.to_csv('df_updated3.csv')
df_pv_copy=df_updated

In [154]:
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [155]:
df_pv_copy['difference'] = df_pv_copy['date_time'] - df_pv_copy['date_time'].shift(5)
df_pv_copy

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...,...
3840,50268,6,2024-02-22 14:05:00,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,2024-02-22 14:05:00,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,2024-02-22 14:05:00,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,2024-02-22 14:05:00,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,2024-02-22 14:05:00,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [157]:
df_pv_copy[df_pv_copy['difference'] != pd.Timedelta('0 days 03:00:00')]

,id,device_id,gather_time,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,2023-09-14 08:00:15,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,2023-09-14 08:00:15,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,2023-09-14 08:00:15,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,2023-09-14 08:00:15,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,2023-09-14 08:00:15,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
925,36803,6,2023-12-11 17:00:12,1.04,1.30,367.7,2023-12-11 17:00:00,65 days 09:00:00
926,36804,7,2023-12-11 17:00:12,0.96,1.28,371.1,2023-12-11 17:00:00,65 days 09:00:00
927,36805,8,2023-12-11 17:00:12,0.76,1.22,352.5,2023-12-11 17:00:00,65 days 09:00:00
928,36806,9,2023-12-11 17:00:12,0.87,1.27,442.2,2023-12-11 17:00:00,65 days 09:00:00
929,36807,10,2023-12-11 17:00:12,0.82,1.26,318.1,2023-12-11 17:00:00,65 days 09:00:00

In [159]:
df_pv=df_pv_copy
df_pv.to_csv('df_pv.csv')

In [160]:
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff10,ff3,...,Cm,Ch,VV,Td,RRR,tR,E,Tg,E',sss
0,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,NaN,7.0,...,NaN,NaN,8.0,23.4,无降水,12.0,NaN,NaN,NaN,NaN
1,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,NaN,6.0,...,NaN,NaN,2.6,23.5,无降水,12.0,NaN,NaN,NaN,NaN
2,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,NaN,4.0,...,NaN,NaN,4.9,24.4,无降水,12.0,NaN,NaN,NaN,NaN
3,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,NaN,5.0,...,NaN,NaN,18.0,22.5,无降水,6.0,NaN,NaN,NaN,NaN
4,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,NaN,...,NaN,NaN,19.0,23.3,无降水,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,NaN,6.0,...,NaN,NaN,8.0,8.2,5,12.0,NaN,NaN,NaN,NaN
1290,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,NaN,6.0,...,NaN,NaN,3.9,7.4,4,12.0,NaN,NaN,NaN,NaN
1291,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,NaN,6.0,...,NaN,NaN,1.5,6.6,3,12.0,NaN,NaN,NaN,NaN
1292,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,2.4,5.8,2,12.0,NaN,NaN,NaN,NaN
1293,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,NaN,7.0,...,NaN,NaN,3.8,5.4,2,6.0,NaN,NaN,NaN,NaN

In [163]:
df_weather.nunique()

当地时间 温州市    1294
T            302
Po           209
P            211
Pa            58
U             78
DD            17
Ff             6
ff10           0
ff3           13
N              0
WW            17
W1             4
W2             2
Tn           198
Tx           186
Cl             0
Nh             0
H              1
Cm             0
Ch             0
VV            65
Td           310
RRR           33
tR             2
E              0
Tg             0
E'             0
sss            0
dtype: int64

In [164]:
df_weather.drop(['ff10', 'N', 'Cl', 'Nh', 'Cm', 'Ch', 'E', 'Tg', "E'", 'sss'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,P,Pa,U,DD,Ff,ff3,WW,W1,W2,Tn,Tx,H,VV,Td,RRR,tR
0,14.09.2023 02:00,25.9,753.1,756.5,-0.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,25.8,31.5,2500或更高，或无云。,8.0,23.4,无降水,12.0
1,14.09.2023 05:00,25.1,752.8,756.2,-0.3,91,从西方吹来的风,2,6.0,霾,NaN,NaN,25.1,31.5,2500或更高，或无云。,2.6,23.5,无降水,12.0
2,14.09.2023 08:00,27.5,753.7,757.0,0.9,83,从西方吹来的风,0,4.0,霾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.5,2500或更高，或无云。,4.9,24.4,无降水,12.0
3,14.09.2023 11:00,31.2,754.1,757.4,NaN,60,从东南方吹来的风,2,5.0,,NaN,NaN,24.9,31.7,NaN,18.0,22.5,无降水,6.0
4,14.09.2023 14:00,31.2,753.3,756.6,NaN,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.7,2500或更高，或无云。,19.0,23.3,无降水,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,768.7,0.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,雨,在整个相应周期内云遮住了一半或以下的天空,8.4,NaN,2500或更高，或无云。,8.0,8.2,5,12.0
1290,22.02.2024 14:00,8.0,763.9,767.5,-1.2,96,从东北偏东方向吹来的风,2,6.0,薄雾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.9,NaN,2500或更高，或无云。,3.9,7.4,4,12.0
1291,22.02.2024 17:00,7.2,764.5,768.1,0.6,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.1,NaN,2500或更高，或无云。,1.5,6.6,3,12.0
1292,22.02.2024 20:00,6.2,765.7,769.3,1.2,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,6.2,NaN,2500或更高，或无云。,2.4,5.8,2,12.0
1293,22.02.2024 23:00,5.8,766.8,770.5,NaN,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,NaN,NaN,5.8,11.5,NaN,3.8,5.4,2,6.0

In [ ]:
df_weather.drop('H', axis=1, inplace=True)

In [167]:
df_weather.dtypes

当地时间 温州市     object
T           float64
Po          float64
P           float64
Pa          float64
U             int64
DD           object
Ff            int64
ff3         float64
WW           object
W1           object
W2           object
Tn          float64
Tx          float64
VV          float64
Td          float64
RRR          object
tR          float64
dtype: object

In [168]:
df_weather.drop(['P', 'Pa'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,ff3,WW,W1,W2,Tn,Tx,VV,Td,RRR,tR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,25.8,31.5,8.0,23.4,无降水,12.0
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,6.0,霾,NaN,NaN,25.1,31.5,2.6,23.5,无降水,12.0
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,4.0,霾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.5,4.9,24.4,无降水,12.0
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,5.0,,NaN,NaN,24.9,31.7,18.0,22.5,无降水,6.0
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,24.9,31.7,19.0,23.3,无降水,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,雨,在整个相应周期内云遮住了一半或以下的天空,8.4,NaN,8.0,8.2,5,12.0
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,6.0,薄雾,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.9,NaN,3.9,7.4,4,12.0
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,7.1,NaN,1.5,6.6,3,12.0
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,在整个相应周期内云遮住了一半或以下的天空,在整个相应周期内云遮住了一半或以下的天空,6.2,NaN,2.4,5.8,2,12.0
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,NaN,NaN,5.8,11.5,3.8,5.4,2,6.0

In [170]:
df_weather.drop(['W1', 'W2', 'Tn', 'Tx', 'tR'], axis=1, inplace=True)
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,ff3,WW,VV,Td,RRR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,7.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,6.0,霾,2.6,23.5,无降水
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,4.0,霾,4.9,24.4,无降水
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,5.0,,18.0,22.5,无降水
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,NaN,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水
...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,6.0,薄雾,3.9,7.4,4
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,6.0,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,7.0,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,7.0,间歇性雨，不冻，在观测时较弱,3.8,5.4,2

In [172]:
df_weather.drop(['ff3'], axis=1, inplace=True)

In [173]:
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水
...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2

In [174]:
df_weather.dtypes

当地时间 温州市     object
T           float64
Po          float64
U             int64
DD           object
Ff            int64
WW           object
VV          float64
Td          float64
RRR          object
dtype: object

In [175]:
df_weather.nunique()

当地时间 温州市    1294
T            302
Po           209
U             78
DD            17
Ff             6
WW            17
VV            65
Td           310
RRR           33
dtype: int64

In [176]:
df_weather['RRR'].unique()

array(['无降水', 0.7, 1, 0.5, 0.1, 0.2, 0.3, 2, 73, 74, 83, 14, 12, nan, 5,
       8, 16, 20, 13, 7, 4, 0.4, 0.9, 0.6, 6, 11, 10, 3, 0.8, 15, 9, 19,
       18, 17], dtype=object)

In [182]:
df_weather[pd.isna(df_weather['RRR'])]

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR
141,01.10.2023 20:00,24.4,757.6,73,从东北偏东方向吹来的风,3,云量发展情况没有进行观测或无法观测。,18.0,19.2,NaN
196,08.10.2023 20:00,21.1,761.2,89,从北方吹来的风,0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN
419,05.11.2023 17:00,25.0,755.8,87,从东方吹来的风,2,云量发展情况没有进行观测或无法观测。,12.0,22.7,NaN
475,12.11.2023 17:00,16.7,766.3,71,从北方吹来的风,4,云量发展情况没有进行观测或无法观测。,20.0,11.4,NaN
508,16.11.2023 20:00,13.3,766.9,61,从西北偏北方向吹来的风,2,云量发展情况没有进行观测或无法观测。,19.0,5.9,NaN
659,05.12.2023 17:00,14.6,759.5,76,从东方吹来的风,1,云量发展情况没有进行观测或无法观测。,16.0,10.4,NaN
660,05.12.2023 20:00,12.0,760.7,82,从东北偏北方向吹来的风,0,霾,7.0,9.0,NaN
1084,27.01.2024 20:00,7.8,769.1,59,从东方吹来的风,2,霾,5.0,0.3,NaN
1108,30.01.2024 20:00,11.9,763.9,94,从东北偏东方向吹来的风,2,霾,3.9,11.0,NaN
1124,01.02.2024 20:00,12.0,762.5,97,从东方吹来的风,3,薄雾,2.2,11.5,NaN

In [186]:
df_weather['date_time'] = pd.to_datetime(df_weather['当地时间 温州市'], dayfirst=True).dt.floor('min')
df_weather

,当地时间 温州市,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time
0,14.09.2023 02:00,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00
1,14.09.2023 05:00,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00
2,14.09.2023 08:00,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00
3,14.09.2023 11:00,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00
4,14.09.2023 14:00,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1289,22.02.2024 11:00,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00
1290,22.02.2024 14:00,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00
1291,22.02.2024 17:00,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00
1292,22.02.2024 20:00,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00
1293,22.02.2024 23:00,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00

In [189]:
df_weather.drop(['当地时间 温州市'], axis=1, inplace=True)
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00
1,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00
2,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00
3,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00
4,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00
...,...,...,...,...,...,...,...,...,...,...
1289,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00
1290,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00
1291,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00
1292,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00
1293,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00

In [192]:
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
1,25.1,752.8,91,从西方吹来的风,2,霾,2.6,23.5,无降水,2023-09-14 05:00:00,0 days 03:00:00
2,27.5,753.7,83,从西方吹来的风,0,霾,4.9,24.4,无降水,2023-09-14 08:00:00,0 days 03:00:00
3,31.2,754.1,60,从东南方吹来的风,2,,18.0,22.5,无降水,2023-09-14 11:00:00,0 days 03:00:00
4,31.2,753.3,63,从东南方吹来的风,3,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1289,8.5,765.1,98,从东方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00,0 days 03:00:00
1290,8.0,763.9,96,从东北偏东方向吹来的风,2,薄雾,3.9,7.4,4,2024-02-22 14:00:00,0 days 03:00:00
1291,7.2,764.5,96,从东方吹来的风,3,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00,0 days 03:00:00
1292,6.2,765.7,97,从东北方吹来的风,2,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00,0 days 03:00:00
1293,5.8,766.8,97,从东北方吹来的风,2,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00,0 days 03:00:00

In [193]:
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86,从西北偏西方向吹来的风,1,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
100,29.2,756.0,77,从东方吹来的风,3,,16.0,24.7,无降水,2023-09-26 17:00:00,0 days 06:00:00
196,21.1,761.2,89,从北方吹来的风,0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [195]:
df_weather[99:101]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
99,31.9,757.0,61,无风,0,,18.0,23.4,无降水,2023-09-26 11:00:00,0 days 03:00:00
100,29.2,756.0,77,从东方吹来的风,3,,16.0,24.7,无降水,2023-09-26 17:00:00,0 days 06:00:00

In [203]:
mean_T = round((df_weather.loc[99, 'T'] + df_weather.loc[100, 'T']) / 2,1)
mean_Po = round((df_weather.loc[99, 'Po'] + df_weather.loc[100, 'Po']) / 2,1)
mean_U = (df_weather.loc[99, 'U'] + df_weather.loc[100, 'U']) / 2
mean_Ff = (df_weather.loc[99, 'Ff'] + df_weather.loc[100, 'Ff']) / 2
mean_VV = round((df_weather.loc[99, 'VV'] + df_weather.loc[100, 'VV']) / 2,1)
mean_Td	= round((df_weather.loc[99, 'Td'] + df_weather.loc[100, 'Td']) / 2,1)
mean_date = df_weather.iloc[[99, 100]]['date_time'].mean()

new_row = pd.DataFrame({'T': [mean_T], 'Po': [mean_Po], 'U': [mean_U], 'Ff': [mean_Ff], 'WW': None, 'VV': [mean_VV],
                       'Td': [mean_Td], 'RRR': ["无降水"], 'date_time': mean_date }, index=[99.5])

df_updated = pd.concat([df_weather.loc[:99], new_row, df_weather.loc[100:]]).sort_index().reset_index(drop=True)

df_updated.to_csv('weather_updated.csv')

In [204]:
df_weather=df_updated

In [205]:
df_weather

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
1,25.1,752.8,91.0,从西方吹来的风,2.0,霾,2.6,23.5,无降水,2023-09-14 05:00:00,0 days 03:00:00
2,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,2023-09-14 08:00:00,0 days 03:00:00
3,31.2,754.1,60.0,从东南方吹来的风,2.0,,18.0,22.5,无降水,2023-09-14 11:00:00,0 days 03:00:00
4,31.2,753.3,63.0,从东南方吹来的风,3.0,云量发展情况没有进行观测或无法观测。,19.0,23.3,无降水,2023-09-14 14:00:00,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1290,8.5,765.1,98.0,从东方吹来的风,2.0,间歇性毛毛雨，不冻，在观测时是微弱的,8.0,8.2,5,2024-02-22 11:00:00,0 days 03:00:00
1291,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,2024-02-22 14:00:00,0 days 03:00:00
1292,7.2,764.5,96.0,从东方吹来的风,3.0,间歇性毛毛雨，不冻，在观测时是微弱的,1.5,6.6,3,2024-02-22 17:00:00,0 days 03:00:00
1293,6.2,765.7,97.0,从东北方吹来的风,2.0,间歇性毛毛雨，不冻，在观测时是微弱的,2.4,5.8,2,2024-02-22 20:00:00,0 days 03:00:00
1294,5.8,766.8,97.0,从东北方吹来的风,2.0,间歇性雨，不冻，在观测时较弱,3.8,5.4,2,2024-02-22 23:00:00,0 days 03:00:00

In [212]:
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT
197,21.1,761.2,89.0,从北方吹来的风,0.0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [213]:
df_weather[196:198]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
196,24.1,759.1,72.0,从东北偏北方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,20.0,18.7,0.4,2023-10-08 14:00:00,0 days 03:00:00
197,21.1,761.2,89.0,从北方吹来的风,0.0,云量发展情况没有进行观测或无法观测。,19.0,19.2,NaN,2023-10-08 20:00:00,0 days 06:00:00

In [215]:
mean_T = round((df_weather.loc[196, 'T'] + df_weather.loc[197, 'T']) / 2,1)
mean_Po = round((df_weather.loc[196, 'Po'] + df_weather.loc[197, 'Po']) / 2,1)
mean_U = (df_weather.loc[196, 'U'] + df_weather.loc[197, 'U']) / 2
mean_Ff = (df_weather.loc[196, 'Ff'] + df_weather.loc[197, 'Ff']) / 2
mean_VV = round((df_weather.loc[196, 'VV'] + df_weather.loc[197, 'VV']) / 2,1)
mean_Td	= round((df_weather.loc[196, 'Td'] + df_weather.loc[197, 'Td']) / 2,1)
mean_date = df_weather.iloc[[196, 197]]['date_time'].mean()

new_row = pd.DataFrame({'T': [mean_T], 'Po': [mean_Po], 'U': [mean_U], 'Ff': [mean_Ff], 'WW': None, 'VV': [mean_VV],
                       'Td': [mean_Td], 'RRR': None, 'date_time': mean_date }, index=[196.5])

df_updated = pd.concat([df_weather.loc[:196], new_row, df_weather.loc[197:]]).sort_index().reset_index(drop=True)
df_weather = df_updated
df_weather['difference'] = df_weather['date_time'] - df_weather['date_time'].shift(1)
df_weather.to_csv('weather_updated.csv')

In [216]:
df_weather[df_weather['difference'] != pd.Timedelta('0 days 03:00:00')]

,T,Po,U,DD,Ff,WW,VV,Td,RRR,date_time,difference
0,25.9,753.1,86.0,从西北偏西方向吹来的风,1.0,云量发展情况没有进行观测或无法观测。,8.0,23.4,无降水,2023-09-14 02:00:00,NaT

In [191]:
df_pv.drop(['gather_time'], axis=1, inplace=True)
df_pv

,id,device_id,active_power,direct_power,charge_capacity,date_time,difference
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,NaT
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,NaT
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,NaT
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,NaT
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,NaT
...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00

In [220]:
df_merged = pd.merge(df_pv, df_weather, on='date_time', how='left')

In [221]:
df_merged.to_csv('df_merge.csv')

In [219]:
merged_df

,id,device_id,active_power,direct_power,charge_capacity,date_time,difference_x,T,Po,U,DD,Ff,WW,VV,Td,RRR,difference_y
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,NaT,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水,0 days 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,0 days 03:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4,0 days 03:00:00

In [222]:
merged_df.drop(['difference_x','difference_y'], axis=1, inplace=True)
merged_df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,DD,Ff,WW,VV,Td,RRR
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,无降水
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4

In [223]:
merged_df.nunique()

id                 3831
device_id             5
active_power       1586
direct_power       1539
charge_capacity    1732
date_time           769
T                   272
Po                  203
U                    73
DD                   17
Ff                    7
WW                   17
VV                   65
Td                  268
RRR                  31
dtype: int64

In [224]:
merged_df.dtypes

id                          int64
device_id                   int64
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
T                         float64
Po                        float64
U                         float64
DD                         object
Ff                        float64
WW                         object
VV                        float64
Td                        float64
RRR                        object
dtype: object

In [234]:
print(f"The range of 'active_power' is from {merged_df['active_power'].min()} to {merged_df['active_power'].max()}")
print(f"The range of 'direct_power' is from {merged_df['direct_power'].min()} to {merged_df['direct_power'].max()}")
print(f"The range of 'charge_capacity' is from {merged_df['charge_capacity'].min()} to {merged_df['charge_capacity'].max()}")
print(f"The range of 'T' is from {merged_df['T'].min()} to {merged_df['T'].max()}")
print(f"The range of 'Po' is from {merged_df['Po'].min()} to {merged_df['Po'].max()}")
print(f"The range of 'U' is from {merged_df['U'].min()} to {merged_df['U'].max()}")
print(f"The range of 'Ff' is from {merged_df['Ff'].min()} to {merged_df['Ff'].max()}")
print(f"The range of 'VV' is from {merged_df['VV'].min()} to {merged_df['VV'].max()}")
print(f"The range of 'Td' is from {merged_df['Td'].min()} to {merged_df['Td'].max()}")

print("DD:",merged_df['DD'].unique())
print("WW:",merged_df['WW'].unique())
print("RRR:",merged_df['RRR'].unique())

The range of 'active_power' is from 0.0 to 109.88
The range of 'direct_power' is from 0.0 to 112.12
The range of 'charge_capacity' is from 0.0 to 686.8
The range of 'T' is from -2.1 to 33.3
The range of 'Po' is from 753.3 to 777.1
The range of 'U' is from 19.0 to 100.0
The range of 'Ff' is from 0.0 to 5.0
The range of 'VV' is from 0.1 to 20.0
The range of 'Td' is from -14.5 to 26.1
DD: ['从西方吹来的风' '从东南方吹来的风' '从东方吹来的风' '从西北方吹来的风' '从东南偏东方向吹来的风' '从南方吹来的风'
 '从西北偏西方向吹来的风' '从西南偏西方向吹来的风' '从东南偏南方向吹来的风' '从西北偏北方向吹来的风' '从东北方吹来的风'
 '从北方吹来的风' '从西南方吹来的风' '从西南偏南方向吹来的风' '从东北偏东方向吹来的风' '从东北偏北方向吹来的风' '无风' nan]
WW: ['霾 ' ' ' '云量发展情况没有进行观测或无法观测。 ' '小雨（不冻） ' '毛毛雨（不冻）或者小雪粒 '
 '间歇性毛毛雨，不冻，在观测时是微弱的 ' '薄雾 ' None '间歇性雨，不冻，在观测时中度 ' '间歇性雨，不冻，在观测时较弱 '
 '雾或冰雾 ' '雾或冰雾，天空不可见，在观测前一个小时内没有明显的浓度变化。 ' '间歇性毛毛雨，不冻，在观测时为中度 '
 '雨或毛毛雨夹雪较弱 ' '间歇性雪，在观测时较弱 ' '小雪 ' '间歇性毛毛雨，不冻，在观测时为强度 '
 '有雾或冰雾，天空可见，在观测前一个小时内开始出现或变浓。 ']
RRR: ['无降水' 0.7 1 0.5 0.1 0.2 0.3 2 73 74 83 14 12 nan 5 8 16 0.4 4 7 10 9 0.6
 6 3 0.8 19 18 15 17 20 11]

In [240]:
pd.set_option('future.no_silent_downcasting', True)
merged_df['RRR']=merged_df['RRR'].replace('无降水', 0)

id                 3831
device_id             5
active_power       1586
direct_power       1539
charge_capacity    1732
date_time           769
T                   272
Po                  203
U                    73
DD                   17
Ff                    7
WW                   17
VV                   65
Td                  268
RRR                  31
dtype: int64

In [244]:
merged_df.to_csv('merged_df2.csv')
print("RRR:",merged_df['RRR'].unique())
merged_df.dtypes

RRR: [ 0.   0.7  1.   0.5  0.1  0.2  0.3  2.  73.  74.  83.  14.  12.   nan
  5.   8.  16.   0.4  4.   7.  10.   9.   0.6  6.   3.   0.8 19.  18.
 15.  17.  20.  11. ]

id                          int64
device_id                   int64
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
T                         float64
Po                        float64
U                         float64
DD                         object
Ff                        float64
WW                         object
VV                        float64
Td                        float64
RRR                       float64
dtype: object

In [262]:
# ['从西方吹来的风' '从东南方吹来的风' '从东方吹来的风' '从西北方吹来的风' '从东南偏东方向吹来的风' '从南方吹来的风'
#  '从西北偏西方向吹来的风' '从西南偏西方向吹来的风' '从东南偏南方向吹来的风' '从西北偏北方向吹来的风' '从东北方吹来的风'
#  '从北方吹来的风' '从西南方吹来的风' '从西南偏南方向吹来的风' '从东北偏东方向吹来的风' '从东北偏北方向吹来的风' '无风' nan]
def DD_to_N(dd):
    direction={
        '北':'0/',
        '东':'4/',
        '南':'8/',
        '西':'12/'
    }
    if isinstance(dd, str):
        for char, num in direction.items():
            dd = dd.replace(char, num)
        numbers = re.findall('\d+', dd)
        numbers = [int(num) for num in numbers]
        if len(numbers)==0:
            result=-1
        else:
            result=numbers[0]
            for i in range(len(numbers) - 1):
                result = (result + numbers[i + 1]) / 2
    else:
        result=dd
    return result

merged_df['DDN'] = merged_df['DD'].apply(DD_to_N)
merged_df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,Po,U,DD,Ff,WW,VV,Td,RRR,DDN
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0.0,12.0
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0.0,12.0
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0.0,12.0
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0.0,12.0
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,753.7,83.0,从西方吹来的风,0.0,霾,4.9,24.4,0.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4.0,3.0
3841,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4.0,3.0
3842,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4.0,3.0
3843,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4.0,3.0
3844,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,763.9,96.0,从东北偏东方向吹来的风,2.0,薄雾,3.9,7.4,4.0,3.0

In [263]:
merged_df.to_csv('merged_df_DDN.csv')