In [2]:
import pandas as pd

In [45]:
df=pd.read_csv("df_cc.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)
df['date_time'] = pd.to_datetime(df['date_time']).dt.floor('min')
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
2881,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
2882,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
2883,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242
2884,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242

In [46]:
df.dtypes

id                          int64
device_id                   int64
active_power              float64
direct_power              float64
charge_capacity           float64
date_time          datetime64[ns]
T                         float64
U                         float64
Ff                        float64
RRR                       float64
DD_WE                       int64
DD_NS                       int64
Po(p)                     float64
POA                       float64
dtype: object

In [47]:
df_5 = df[(df['date_time'].dt.hour.isin([5])) & (df['charge_capacity'] != 0)]
df_5

Empty DataFrame
Columns: [id, device_id, active_power, direct_power, charge_capacity, date_time, T, U, Ff, RRR, DD_WE, DD_NS, Po(p), POA]
Index: []

In [48]:
df['difference'] = df['date_time'] - df['date_time'].shift(5)
df_diff = df[(df['date_time'].dt.hour != 5) & (df['difference'] != pd.Timedelta(hours=3))]
df_diff

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA,difference
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT
695,36803,6,1.04,1.30,367.7,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.248620,65 days 09:00:00
696,36804,7,0.96,1.28,371.1,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.248620,65 days 09:00:00
697,36805,8,0.76,1.22,352.5,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.248620,65 days 09:00:00
698,36806,9,0.87,1.27,442.2,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.248620,65 days 09:00:00
699,36807,10,0.82,1.26,318.1,2023-12-11 17:00:00,19.7,82.0,4.0,0.0,1,0,1001.15,1.248620,65 days 09:00:00

In [49]:
df['cc_diff'] = df['charge_capacity'] - df['charge_capacity'].shift(5)
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,DD_WE,DD_NS,Po(p),POA,difference,cc_diff
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT,NaN
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT,NaN
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT,NaN
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT,NaN
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1,0,996.39,441.366227,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242,0 days 03:00:00,29.8
2881,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242,0 days 03:00:00,29.5
2882,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242,0 days 03:00:00,29.4
2883,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242,0 days 03:00:00,31.1
2884,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,1,1,1009.88,881.804242,0 days 03:00:00,30.2

In [50]:
df['POA'] = df['POA'].round(2)

In [51]:
columns = ['active_power', 'date_time', 'T', 'U', 'Ff', 'RRR', 'DD_WE', 'DD_NS', 'Po(p)', 'POA']
for col in columns:
    df[f'{col}_b'] = df[col].shift(5)
df

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,active_power_b,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b
0,19038,6,31.25,31.67,20.3,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19039,7,35.22,35.67,19.8,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19040,8,39.62,40.14,20.7,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19041,9,50.39,51.03,27.2,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19042,10,25.24,25.64,17.4,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.75,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2881,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.74,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2882,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.91,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2883,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,5.23,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2884,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.87,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15

In [52]:
df.dtypes

id                           int64
device_id                    int64
active_power               float64
direct_power               float64
charge_capacity            float64
date_time           datetime64[ns]
T                          float64
U                          float64
Ff                         float64
RRR                        float64
DD_WE                        int64
DD_NS                        int64
Po(p)                      float64
POA                        float64
difference         timedelta64[ns]
cc_diff                    float64
active_power_b             float64
date_time_b         datetime64[ns]
T_b                        float64
U_b                        float64
Ff_b                       float64
RRR_b                      float64
DD_WE_b                    float64
DD_NS_b                    float64
Po(p)_b                    float64
POA_b                      float64
dtype: object

In [53]:
df_filtered = df[df['difference'] == pd.Timedelta(hours=3)]
df_filtered

,id,device_id,active_power,direct_power,charge_capacity,date_time,T,U,Ff,RRR,...,active_power_b,date_time_b,T_b,U_b,Ff_b,RRR_b,DD_WE_b,DD_NS_b,Po(p)_b,POA_b
5,19128,6,65.24,66.29,195.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,31.25,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
6,19129,7,72.97,74.12,196.3,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,35.22,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
7,19130,8,65.92,66.98,199.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,39.62,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
8,19131,9,72.45,73.67,232.2,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,50.39,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
9,19132,10,60.01,60.98,182.0,2023-09-14 11:00:00,31.2,60.0,2.0,0.0,...,25.24,2023-09-14 08:00:00,27.5,83.0,0.0,0.0,-1.0,0.0,996.39,441.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,50268,6,8.44,8.78,55.4,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.75,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2881,50269,7,7.66,7.94,55.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.74,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2882,50270,8,8.21,8.45,54.5,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.91,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2883,50271,9,9.55,9.84,58.0,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,5.23,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15
2884,50272,10,8.81,9.05,56.2,2024-02-22 14:00:00,8.0,96.0,2.0,4.0,...,4.87,2024-02-22 11:00:00,8.5,98.0,2.0,5.0,1.0,0.0,1011.46,959.15

In [54]:
df_diff = df_filtered[df_filtered['date_time'].dt.hour == 5]
df_diff

Empty DataFrame
Columns: [id, device_id, active_power, direct_power, charge_capacity, date_time, T, U, Ff, RRR, DD_WE, DD_NS, Po(p), POA, difference, cc_diff, active_power_b, date_time_b, T_b, U_b, Ff_b, RRR_b, DD_WE_b, DD_NS_b, Po(p)_b, POA_b]
Index: []

[0 rows x 26 columns]

In [59]:
df = df_filtered
df = df.copy()
df['cc_diff'] = df['cc_diff'].round(1)
df.to_csv('df_cc_duplicate.csv')
#df['POA'] = df['POA'].round(2)
# df_copy = df.copy()
# df_copy.drop()